<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

    <body>
        <main class="grid grid-cols-12 min-h-screen gap-2" id="main">
            <aside
                class="col-span-2 outline outline-1 outline-gray-300 p-2 rounded-sm bg-primary text-black flex flex-col my-2 ml-2">
                <div id="sidebar" class="flex-1">
                    <li class="list-none mb-2" data-id="dashboard">
                        <a class="inline-block w-full hover:bg-white/45 p-2" href="/app/dashboard">Dashboard</a>
                    </li>
                    <li class="list-none mb-2" data-id="reports">
                        <a class="inline-block w-full hover:bg-white/45 p-2" href="/app/reports">Reports</a>
                    </li>
                    <li class="list-none mb-2" data-id="logs">
                        <a class="inline-block w-full hover:bg-white/45 p-2" href="/app/logs">Logs</a>
                    </li>
                    <li class="list-none mb-2" data-id="settings">
                        <a class="inline-block w-full hover:bg-white/45 p-2" href="/app/settings">Settings</a>
                    </li>
                </div>
                <div class="flex items-center gap-2 cursor-pointer hover:bg-white/45 p-2">
                    <img src="<%= user.imageUrl %>" alt="user image"
                        class="aspect-square w-10 h-10 rounded-full outline outline-1 outline-neutral-400 bg-neutral-300" />
                    <div class="text-xs font-medium">
                        <p>
                            <%= user.name || "firstname lastname" %>
                        </p>
                        <p class="text-neutral-600">
                            <%= user.email || "user@email.com" %>
                        </p>
                    </div>
                </div>
            </aside>
            <div class="p-2 rounded-sm outline outline-1 outline-neutral-300 col-span-10 my-2 mr-2 bg-white">
                <%- body %>
            </div>
        </main>
    </body>
    <script src="/scripts/sidebar.js"></script>

</html>
